#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   .gitignore
#   2021. Matthew Dunlap.
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

##################################
#   !!!!!private!!!!!!
##################################


##################################
#   OS junk
##################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
